apiVersion: v1
kind: Service
metadata:
  name: frkr-cockroachdb
  labels:
    app.kubernetes.io/name: cockroachdb
    app.kubernetes.io/instance: frkr
spec:
  ports:
  - port: 26257
    targetPort: 26257
    name: grpc
  - port: 8080
    targetPort: 8080
    name: http
  clusterIP: None
  selector:
    app.kubernetes.io/name: cockroachdb
    app.kubernetes.io/instance: frkr
